<div class='topbar' data-dropdown='dropdown'>
<div class='topbar-inner'>
<div class='fluid-container'>
<a href="/dashboard" class="brand" title="Fleetio Dashboard"><img alt="Fleetio Logo" height="22" src="/assets/fleetio-logo-light-clrarrow-trans-87x22-abe310d0e5c4494f2b4a56041fcde351.png" width="87" />
</a><ul class='nav'>
<li class=''><a href="/welcome">Welcome</a></li>
<li class=''><a href="/dashboard">Dashboard</a></li>
<li class='dropdown'>
<a href="#" class="dropdown-toggle">Vehicles</a>
<ul class='dropdown-menu' style='width: 220px'>
<li><a href="/accounts/3128/vehicles">All Vehicles</a></li>
<li class='divider'></li>
</ul>
</li>
<li><a href="/accounts/3128/members">Users</a></li>
<li class=''><a href="/reports">Reports</a></li>
</ul>
<ul class='nav secondary-nav'>
<li class='dropdown'>
<a href="#" class="dropdown-toggle">dfdfdf</a>
<ul class='dropdown-menu'>
<li><a href="/accounts/3128/settings">Account Settings</a></li>
<li class='divider'></li>
<li><a href="/accounts/3128/locations">Locations</a></li>
<li><a href="/accounts/3128/service_types">Service Types</a></li>
<li><a href="/accounts/3128/vehicle_types">Vehicle Types</a></li>
</ul>
</li>
<li class='dropdown' id='nav-user'>
<a href="#" class="dropdown-toggle"><img alt="Gravatar" src="https://secure.gravatar.com/avatar/9b05189b1fbc0026b91750caef46debc.png?d=mm&amp;r=R&amp;s=20" />
<span>
sgone@list.ru
</span>
</a><ul class='dropdown-menu'>
<li><a href="https://secure.fleetio.com/users/edit">Edit Profile</a></li>
<li class='divider'></li>
<li><a href="https://secure.fleetio.com/logout">Log out</a></li>
</ul>
</li>
<li id='nav-help'><a href="/help/emails/new" rel="facebox">Get Help</a></li>
</ul>
</div>
</div>
</div>
<div id='hld'>
<div class='fluid-container reverse'>

<div class='block withsidebar'>
<div class='block_head'>
<div class='bheadl'></div>
<div class='bheadr'></div>
<h2>Account Users</h2>
<ul>
<li><a href="/accounts/3128/invitation/new" class="add">Add User</a></li>
</ul>
</div>
<div class='block_content'>
<div class='sidebar'>
<ul class='sidemenu'>
<li class=''>
<a href="/accounts/3128/settings">Account Settings</a>
</li>

<li class='active'>
<a href="/accounts/3128/members">Users & Permissions</a>
</li>

<li class=''>
<a href="/accounts/3128/subscription">Subscription & Billing Info</a>
</li>

<li class=''>
<a href="/accounts/3128/locations">Locations</a>
</li>

<li class=''>
<a href="/accounts/3128/service_types">Service Types</a>
</li>

<li class=''>
<a href="/accounts/3128/vehicle_types">Vehicle Types</a>
</li>

<li class=''>
<a href="/accounts/3128/vehicle_statuses">Vehicle Statuses</a>
</li>

<li class=''>
<a href="/accounts/3128/vehicle_renewal_types">Vehicle Renewal Types</a>
</li>

<li class=''>
<a href="/accounts/3128/year_make_models">Year/Make/Models</a>
</li>

<li class=''>
<a href="/accounts/3128/exports/new">Export Account Data</a>
</li>

</ul>

</div>
<div class='sidebar_content'>
<div class="alert-message block-message warning"><p>
<strong>You've reached the user limit for this account.</strong> Upgrade your subscription plan to add more users.
</p>
<div class='alert-actions'>
<a href="/accounts/3128/subscription" class="btn">Manage Account Subscription</a>
</div>
</div><table class='zebra-striped'>
<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th style='width:180px;'>Role</th>
<th style='width:140px;'></th>
</tr>
</thead>
<tbody>
<tr>
<td>dfdsfd dfsdfdsf</td>
<td>sgone@list.ru</td>
<td>Account Owner</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class='bendl'></div>
<div class='bendr'></div>
</div>

<footer>
<div class='yui3-g'>
<div class='yui3-u-19-24'>
<div class='row'>
<div class='span10'>
<h6>Questions? Need help?</h6>
<p>
<a href="/help/emails/new" class="btn small" rel="facebox">Email Support</a>
</p>
</div>
<div class='span4'>
<h5>Stay Connected</h5>
<ul class='unstyled'>
<li>
<a href="https://twitter.com/fleetio" class="twitter-follow-button" data-show-count="false">Follow @fleetio</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
</li>
</ul>
</div>
</div>
</div>
<div class='yui3-u-5-24'>
<div class='ar'>
<p>
&copy; 2012 RareStep, LLC.
</p>
</div>
</div>
</div>
</footer>

</div>
</div>
