
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="span5 offset4">
        <ul class="nav nav-tabs">
    <li>
    <%= link_to "Новая заявка", newtender_path %>
    </li>
    <li><%= link_to "Текущие", root_path %></li>
    <li class="active"><%= link_to "Выполненные", donetender_path %></li>
    </ul>
        </div>
      </div>
 <div class="row">
        <div class="span8 offset2">
     <h3>Выполненные</h3>
       <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Название</th>
                <th>Цена</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>авыавыа</td>
                <td>12</td>
                </tr>
              </tbody>
        </table>
     </div>
   </div>






