
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="span5 offset4">
              <!--<ul class="nav nav-tabs">
    <li><a href="#new" data-toggle="tab">Новая заявка</a></li>
    <li class="active"><a href="#do" data-toggle="tab">Текущие заявки</a></li>
    <li><a href="#done" data-toggle="tab">Выполненные заявки</a></li>
    </ul>
     </div>
   </div>
   <div class="row">
        <div class="span12">
    <div class="tab-content">
      <div class="tab-pane" id="new">
          <form class="well form-horizontal">
          <fieldset>
            <legend>Новая заявка</legend>
              <div class="control-group">
                <label for="company" class="control-label">Компания</label>
                <div class="controls">
                  <select id="company">
                    <option>Выберите компанию</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Сохранить</button>
              <button class="btn">Очистить</button>
            </div>
          </fieldset>
        </form>

      </div>
      <div class="tab-pane active" id="do">
       <h3>Текущие</h3>
       <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Название</th>
                <th>Цена</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>авыавыа</td>
                <td>12</td>
                </tr>
              </tbody>
        </table>
      </div>
      <div class="tab-pane" id="done">
       <h3>Выполненные</h3>
       <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Название</th>
                <th>Цена</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>авыавыа</td>
                <td>12</td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>-->
        <ul class="nav nav-tabs">
    <li>
    <%= link_to "Новая заявка", newtender_path %>
    
    </li>
    <li class="active"><%= link_to "Текущие", root_path %></li>
    <li><%= link_to "Выполненные", donetender_path %></li>
    </ul>
        </div>
      </div>

      <div class="row">
        <div class="span8 offset2">
      <h3>Текущие</h3>
       <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Название</th>
                <th>Цена</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>авыавыа</td>
                <td>12</td>
                </tr>
              </tbody>
        </table>

     </div>
   </div>






