 <!-- форма редактирования сотрудника -->
      <div class="row">
      	<div class="span4 offset4">
      		<%= render 'editForm' %>    
	   </div>
	  </div>

      <!-- конец формы редактирования сотрудника -->
