      <!-- форма добавления водителя -->
      <div class="row">
      	<div class="span4 offset4">
      		<%= render 'form' %>      
	   </div>
	  </div>

      <!-- конец формы добавления водителя -->
