/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
.Mownfloatleft{
	float: left;
	margin-right: 50px;
}
.Mownfloatright {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
.black {
   border-color: #000000;
  /*border: 1px solid #000000;*/
}
.Mowntext {
  text-align:center;
}
.Mownclear {
  clear: both;
}

.MownfloatleftP{
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.MownfloatrightP {
  float: right;
   padding-top: 5px;
   padding-left: 10px;

}
.Mownforsignature {
  border: 1px solid #000000;
  width: 285px;
  margin-top: 20px;
}
#MownProbel{
  margin-top: 50px;
}
.MownprintBtn {
  float: right;
}
.table-bordblack {
  border: 1px solid #000000;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;

}
.table-bordblack th,
.table-bordblack td {
  border-left: 1px solid #000000;
}
.table-bordblack thead:first-child tr:first-child th,
.table-bordblack tbody:first-child tr:first-child th,
.table-bordblack tbody:first-child tr:first-child td {
  border-top: 0;
}
