// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#error_explanation {
  width: 400px;
  border: 1px #EED3D7;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-bottom: 0;
  padding: 5px;
}
.control-group.error > label, .field_with_errors > label, .control-group.error .help-block, .field_with_errors .help-block, .control-group.error .help-inline, .field_with_errors .help-inline {
    color: #B94A48;
}
.control-group.error input, .field_with_errors input, .control-group.error select, .field_with_errors select, .control-group.error textarea, .field_with_errors textarea {
    border-color: #B94A48;
    color: #B94A48;
}
.control-group.error input:focus, .field_with_errors input:focus, .control-group.error select:focus, .field_with_errors select:focus, .control-group.error textarea:focus, .field_with_errors textarea:focus {
    border-color: #953B39;
    box-shadow: 0 0 6px #D59392;
}
.control-group.error .input-prepend .add-on, .field_with_errors .input-prepend .add-on, .control-group.error .input-append .add-on, .field_with_errors .input-append .add-on {
    background-color: #F2DEDE;
    border-color: #B94A48;
    color: #B94A48;
}